body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 17px;
  line-height: 29px;
  text-align: left;
}

h3 {
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  background-color: tomato;
  text-transform: uppercase;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-self: center;
}

h4 {
  font-size: 21px;
  line-height: 25px;
  color: #fa382f;
  text-transform: uppercase;
}

h5 {
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 20px 0;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  padding: 0;
  margin: 0;
}

.header {
  border-bottom: 1px solid black;
  height: 508px;
  display: flex;
  justify-content: center;

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(187, 187, 187, 0.1)),
    url(./assets/record-med.jpg);
  background-repeat: no-repeat;
  background-attachment: local;
  background-position-x: center;
  background-position-y: 70%;
  background-color: tomato;
}

.header-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text {
  color: #ffffff;
  padding: 0 40px;
}

.header-text p {
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  letter-spacing: 0.52px;
  opacity: 1;
}

.header-text h1 {
  font-size: 40px;
  text-transform: lowercase;
  margin: 5px auto;
  line-height: 49px;
}

.header-text h2 {
  font-size: 24px;
  text-transform: lowercase;
  margin-top: 0;
  line-height: 29px;
}

.icon-container-top {
  position: absolute;
  top: 60px;
  right: 40px;
}

.icon-container-top a {
  text-decoration: none;
  color: #ffffff;
}

.fa {
  border: 3px solid white;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}

.bold-text {
  font-weight: bold;
  margin-left: 15px;
}

.profile-image {
  width: 162px;
  height: 162px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  right: 40px;
  bottom: -20px;
}

.main-wrapper {
  padding: 60px 40px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.summary {
  background-color: #f4f4f4;
}

.summary-color-line {
  display: inline-block;
  width: 45px;
  height: 9px;
  border-top: 4px solid tomato;
}

.summary-color-dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  border: 2px solid tomato;
  background-color: tomato;
  margin: 0 15px 6px -1px;
  border-radius: 50%;
}

.tech {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tech p {
  text-align: center;
}

.featured-projects,
.other-projects {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
}

.featured-projects {
  padding-bottom: 10px;
}

.featured-projects p {
  max-width: 300px;
}

.featured-projects .bold-color-text {
  font-family: "Roboto", sans-serif;
}

.project-image {
  width: 100%;
  height: 180px;
}

.project-container {
  position: relative;
  width: 100%;
  height: 180px;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
}

.article-project-wrapper {
  max-width: 300px;
}

.article-project-wrapper p {
  color: #000000;
}

.other-projects-article p {
  color: #000000;
  text-decoration: underline;
}

.other-projects-article .bold-color-text {
  text-decoration: underline;
}

.blog-image {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}

.overlay p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #fddfe7;
}

.tag-wrapper {
  display: flex;
}

.tag-wrapper p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #2b2e34;
  font-weight: bold;
  background-color: #fddfe7;
  padding: 0 5px;
  margin-right: 3px;
  border-radius: 5px;
  text-decoration: none;
}

.bold-color-text {
  text-transform: uppercase;
  font-weight: bold;
  color: tomato;
}

.featured-projects a {
  text-decoration: none;
}

.project-container a {
  text-decoration: none;
}

.project-flex-box {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bold-color-arrows {
  text-decoration: underline;
  font-weight: bold;
  color: tomato;
}

.my-thoughts {
  display: flex;
  flex-direction: column;
}

.my-thoughts img {
  border: 1px solid #707070;
  margin-top: 20px;
}

.more-thoughts {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
}

.my-blog {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.my-blog p {
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  margin-top: 5px;
}

.hide-blog {
  display: none;
}

.blog-date {
  font-weight: 600;
  color: tomato;
  margin-bottom: 0;
}

.span-dates {
  font-weight: 600;
  color: tomato;
}

.skills {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.skills-wrapper {
  display: flex;
  flex-direction: row;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-wrap: wrap;
}

.skills-wrapper ul {
  list-style-type: none;
  font-weight: bold;
  line-height: 29px;
  text-align: center;
  padding: 0;
}

.skills-color-text {
  text-transform: uppercase;
  font-weight: bold;
  color: tomato;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.more-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-container-bottom {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 30px;
}

.icon-container-bottom .fa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid tomato;
  color: tomato;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 29px;
  padding: 10px;
}

.icon-container-bottom p {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
}

.icon-container-bottom a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #072bce;
  color: #ffffff;
  padding: 40px;
  text-align: center;
}

.footer address p {
  font-style: normal;
  margin: 4px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
}

.contact-name {
  font-weight: bold;
}

.icon-container-bottom a {
  text-decoration: none;
  width: 33%;
}

.bottom-icon-text {
  font-size: 11px;
  color: tomato;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 768px) {
  .content {
    width: 60%;
  }

  .icon-container-bottom p {
    font-size: 12px;
  }

  .skills-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .left-column {
    width: 33%;
    justify-content: flex-start;
    align-items: center;
  }

  .right-column {
    width: 67%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .right-column-one,
  .right-column-two {
    width: 50%;
  }
}
@media (min-width: 1025px) {
  .header-container {
    width: 60%;
  }

  .header-text h1 {
    font-size: 60px;
    line-height: 70px;
    width: 50%;
    margin-left: 0;
  }

  .header-text h2 {
    font-size: 35px;
    line-height: 45px;
  }

  .header-text p {
    font-size: 20px;
  }

  p {
    font-size: 19px;
    line-height: 30px;
  }

  h3,
  h4 {
    font-size: 30px;
  }

  .tech-color-text {
    color: tomato;
    font-weight: 600;
  }

  .hide-blog {
    display: flex;
    flex-direction: column;
  }

  .icon-container-bottom {
    width: 60%;
  }

  .icon-container-bottom .fa {
    height: 40px;
    width: 40px;
    font-size: 40px;
  }

  .flex-box-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
}
